@model MantenimientoWeb.Proyecto.ViewModels.ProductoViewModel

@{
    ViewData["Title"] = "Detalles";
}

<!-- Método informal de hacer un detalle de producto -->

<h1 class="text-center">Detalle del producto</h1>
<div class="container" style="border: groove; border-width: thin; border-color: darkgrey; border-radius: 20px; margin-top: 4%;">
    
    <div class="col-lg-6">
        <h4><b>Nombre del producto:</b> @Model.Nombre</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Descripción del producto:</b> @Model.Descripcion</h4>
    </div>
    
    <div class="col-lg-6">
        <h4><b>Fecha de Creación:</b> @Model.FechaCreacion.ToString("d")</h4>
    </div>
    
    <div class="col-lg-6">
        <h4><b>Categoría del Producto:</b> @ViewData["CategoriaNombre"]</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Clasificación del Producto:</b> @ViewData["ClasificacionNombre"]</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Lugar de Fabricación:</b> @Model.LugarFabricacion</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Precio Mantenimiento:</b> @Model.CostoMantenimiento</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Demanda Anual:</b> @Model.DemandaAnual</h4>
    </div>
    
    <div class="col-lg-6">
        <h4><b>Stock Actual:</b> @Model.StockActual</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Consumo Promedio Diario o P CPD:</b> @Model.ConsumoDiarioPromedio</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Precio Original:</b> @ViewData["MonedaSimbolo"] @Model.PrecioOriginal</h4>
    </div>

    <div class="col-lg-6">
        
            @if(Model.StockMinimo >= Model.StockActual)
            {
            <h4 class="text-danger"><b>Stock Mínimo: </b>Necesita un Restock - @Model.StockMinimo </h4>
            }        
            else
            {
            <h4 class="text-success"><b>Stock Mínimo: </b> @Model.StockMinimo</h4> <p><i>*Todavía no necesitará un restock*</i></p>
            }
    </div>

    <div class="col-lg-6">
        <h4><b>Proveedor Nombre:</b> @ViewData["RazonSocial"]</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Tipo de Producto:</b> @ViewData["TipoProductoNombre"]</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Especificaciones: </b></h4>
        <ul>
            @if (Model.EsPerecedero == true)
            {
                <li>Producto Perecedero</li>
            }
            @if (Model.RequiereRefrigacion == true)
            {
                <li>Requiere Refrigeración</li>
            }
            @if (Model.EsFragil == true)
            {
                <li>Producto con Fragilidad</li>
            }
            @if (Model.ProductoPeligrosa == true)
            {
                <li>Producto Peligroso</li>
            }
        </ul>
    </div>

    <div class="col-lg-6">
        <h4><b>Vida Útil:</b> @Model.VidaUtil</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Temperatura:</b> @Model.TemperaturaAlmacenimiento º C</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Instrucciones de Manejo: </b>@Model.InstruccionesDeManejo</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Tipo de Transporte:</b> @ViewData["TransporteNombre"]</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Tipo de Empaquetamiento:</b> @ViewData["EmpaquetamientoNombre"]</h4>
    </div>

    <div class="col-lg-6">
        <h4><b>Notas Adicionales:</b> @Model.NotasAdicionales</h4>
    </div>
</div>

<a style="float: left; margin: 4%;" asp-action="Index" asp-controller="Productos" class="btn btn-info">Volver al Inicio</a>

