@model ListadoProductoModel

@{
    ViewData["Title"] = "Listado de Productos";
}


<link rel="stylesheet" href="~/css/indexProducto.css" />

<div class="container" id="productoIndex">

    <a asp-action="UILandingProduccion" asp-controller="LandingPages" class="btn btn-primary" style="float: left;">Volver al anterior</a>
    <partial name="_PaginacionProducto" />
    <a style="margin-bottom: 2%; float: right;" asp-action="Crear" class="btn btn-primary">Crear Nuevo Producto <i class="bi bi-plus-square"></i></a>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre del Producto</th>
                <th>Fecha Fabricación y Proveedor </th>
                <th>Lugar de Fabricación</th>
                <th>Empaquetamiento y Transporte</th>
                <th>Categoría y Clasificación</th>
                <th>Precio Original</th>
                <th>Coste de Mantenimiento</th>
                <th>Stock Actual</th>
                <th>Tipo de Producto</th>
                <th>Especificaciones</th>
                <th>Notas Adicionales</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
           
                @foreach (var producto in Model.Productos)
                {
                    <tr>
                        <td>@producto.Nombre</td>
                        <td> Creado el @producto.FechaCreacion por @producto.Proveedor.RazonSocial</td>
                        <td>@producto.LugarFabricacion</td>
                        <td>@producto.Empaquetamiento.Nombre - @producto.Transporte.Vehiculo</td>
                        <td>@producto.Categoria.Nombre - @producto.Clasificacion.Nombre</td>
                        <td>@producto.PrecioOriginal</td>
                        <td>@producto.CostoMantenimiento</td>
                        <td>@producto.StockActual</td>
                        <td>@producto.TipoProducto.Nombre</td>
                        <td>
                            @producto.EsPerecedero
                            @producto.EsFragil
                            @producto.RequiereRefrigacion
                            @producto.ProductoPeligrosa

                        </td>
                        <td>@producto.NotasAdicionales</td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <a class="btn btn-info">Detalles</a>
                            <a class="btn btn-danger">Eliminar</a>
                        </td>

                    </tr>    
                }
                
        </tbody>
    </table>

</div>
