@model EmpresaViewModel

@{
   
    ViewBag.Title = "Registro Empresarial"; 
}

<head>

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/registroEmpresa.css" />
   
</head>
<body>
    <h1 class="text-center">Registrar Empresa</h1>

    <div class="container" style="border: groove; border-width: thin; border-color: darkgrey; border-radius: 20px; margin-top: 10%; ">
        <form asp-action="Registrar" method="post" style="margin-top: 2%;">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">

                <div class="col-lg-6">

                    @Html.LabelFor(identificacion => identificacion.CIF)
                    @Html.TextBoxFor(identificacion => identificacion.CIF, new { @class = "form-control", @type = "text" })
                    <div class="text-danger float-end">
                        @Html.ValidationMessageFor(model => model.CIF)
                    </div>
                </div>

                <div class="col-lg-6">

                    @Html.LabelFor(razonSocial => razonSocial.RazonSocial)
                    @Html.TextBoxFor(razonSocial => razonSocial.RazonSocial, new { @class = "form-control", @type = "text"})
                    <div class="text-danger float-end">
                        @Html.ValidationMessageFor(model => model.RazonSocial)
                    </div>
                </div>

                <div class="col-lg-6">
                    @Html.LabelFor(email => email.CorreoElectronico)
                    @Html.TextBoxFor(email => email.CorreoElectronico, new { @class = "form-control", @type = "text" })
                    <div class="text-danger float-end">
                        @Html.ValidationMessageFor(model => model.CorreoElectronico)
                    </div>
                </div>

                <div class="col-lg-6 mt-3 mb-3">
                    <div class="col-sm-3">
                        @Html.LabelFor(pais => pais.PaisId)
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(pais => pais.PaisId, Model.PaisesSelectList, "--Seleccionar País--")
                    </div>
                    
                    
                </div>

                <div class="col-lg-6 mt-3 mb-3">
                    <div class="col-sm-3">
                        @Html.LabelFor(tipoEmpresa => tipoEmpresa.TipoEmpresaId)
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(tipoEmpresa => tipoEmpresa.TipoEmpresaId, Model.TipoEmpresaSelectList, "--Seleccionar Tipo Empresa--")
                    </div>
                    
                   

                </div>

                <div class="col-lg-6">
                    @Html.LabelFor(direccion => direccion.Direccion)
                    @Html.TextBoxFor(direccion => direccion.Direccion, new { @class = "form-control", @type = "text" })
                    <div class="text-danger float-end">
                        @Html.ValidationMessageFor(model => model.Direccion)
                    </div>
                </div>
                
                
                <div class="col-sm-6">
                    <a asp-action="UILandingEmpresa" asp-controller="LandingPages" class="btn btn-info m-2"> Volver al Inicio</a>
                </div>
                    
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary float-end m-2" id="registrarBoton">Registrar</button>
                </div>

                    
                


            </div>

        </form>
    </div>
    
    
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    
   
}