@model MantenimientoWeb.Proyecto.ViewModels.InventarioViewModel

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="text-center">Detalle del inventario</h1>
<div class="container" style="border: groove; border-width: thin; border-color: darkgrey; border-radius: 20px; margin-top: 4%;">
    <div>
        <dl class="row">
            <div class="col-lg-6">
                <dt class="col-lg-6 m-2">
                    Nombre del producto
                </dt>
                <dd class="col-lg-12 text-center bg-light">
                    @ViewData["ProductoNombre"]
                </dd>
            </div>

            <div class="col-lg-6">
                <dt class="col-lg-6 m-2">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </dt>
                <dd class="col-lg-12 text-center bg-light">
                    @Html.DisplayFor(model => model.Cantidad)
                </dd>
            </div>

            <div class="col-lg-6">
                <dt class="col-lg-6 m-2">
                    Estado del producto
                </dt>
                <dd class="col-lg-12 text-center bg-light">
                    @ViewData["EstadoNombre"]
                </dd>
            </div>

            <div class="col-lg-6">
                <dt class="col-lg-6 m-2">
                    @Html.DisplayNameFor(model => model.CostoPercentual )
                </dt>
                <dd class="col-lg-12 text-center bg-light">
                    @Html.DisplayFor(model => model.CostoPercentual)
                </dd>

            </div>

            <div class="col-lg-6">
                <dt class="col-lg-6 m-2">
                    @Html.DisplayNameFor(model => model.CostoTotalMantenimiento)
                </dt>
                <dd class="col-lg-12 text-center bg-light">
                    @Html.DisplayFor(model => model.CostoTotalMantenimiento)
                </dd>
            </div>

            <div class="col-lg-6">
                <dt class="col-lg-6 m-2">
                    @Html.DisplayNameFor(model => model.PrecioCompra)
                </dt>
                <dd class="col-lg-12 text-center bg-light">
                    @Html.DisplayFor(model => model.PrecioCompra)
                </dd>
            </div>

            <div class="col-lg-6">
                <dt class="col-lg-6 m-2">
                    @Html.DisplayNameFor(model => model.CostoPedido)
                </dt>
                <dd class="col-lg-12 text-center bg-light">
                    @Html.DisplayFor(model => model.CostoPedido)
                </dd>
            </div>
    </div>

    <a style="float: left; margin: 4%;" asp-action="Index" asp-controller="Inventarios" class="btn btn-info">Volver al Inicio</a>



</div>