@model ListadoInventarioModel

@{
    ViewData["Title"] = "Listado de Inventario";
}

<div class="container" style="margin-top: 4%;">

    <a asp-action="UILandingAlmacen" asp-controller="LandingPages" class="btn btn-primary" style="float: left;">Volver al inicio</a>
    
    <!-- PAGINACION -->
    <partial name="_PaginacionInventario" />
    
    <a style="margin-bottom: 2%; margin-right: 2%; float: right;" asp-action="Crear" class="btn btn-primary">Crear Nuevo Inventario <i class="bi bi-plus-square"></i></a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Estado del Producto</th>
                <th>Unidades De Compra En Año</th>
                <th>Cantidad de Producto</th>
                <th>Precio de Compra</th>
                <th>Costo Percentual</th>
                <th>Costo Total Mantenimiento</th>
                <th>Costo Pedido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inventario in Model.Inventarios)
            {
                <tr>
                    <td>@inventario.Producto.Nombre</td>
                    <td>@inventario.EstadoProducto.Nombre</td>
                    <td>@inventario.UnidadesDeCompraEnAño</td>
                    <td>@inventario.Cantidad</td>
                    <td>@inventario.Producto.Moneda.SimboloMoneda @inventario.PrecioCompra</td>
                    <td>@inventario.Producto.Moneda.SimboloMoneda @inventario.CostoPercentual</td>
                    <td>@inventario.Producto.Moneda.SimboloMoneda @inventario.CostoTotalMantenimiento</td>
                    <td>@inventario.Producto.Moneda.SimboloMoneda @inventario.CostoPedido</td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@inventario.Id" class="btn btn-warning" style="margin: 2%">Editar</a>
                        <a asp-action="Detalle" asp-route-id="@inventario.Id" class="btn btn-info" style="margin: 2%">Detalles</a>
                        <a asp-action="Eliminar" asp-route-id="@inventario.Id" class="btn btn-danger" style="margin: 2%">Eliminar</a>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>



</div>